# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build directories
dist
dist-ssr
out             # for Next.js static export
.build          # if used by other tools

# Local env files
*.local
*.env
*.env.*         # covers .env.development, .env.production, etc.

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: Mac / Linux system files
Thumbs.db
ehthumbs.db
